<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gooseeker.fss.mapper.UrlRoleMapper">
	
	<select id="findUrlRoleByUrlName" parameterType="String" resultType="urlRole">
		SELECT
			`id` `id`, `url` `url`, `role` `role` 
		FROM 
			`url_role` 
		WHERE `url` = #{url}
	</select>
	
</mapper>